<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <nav>
      <form action="/about" method="get" target="_blank">
        <button type="submit">About</button>
        <form action="works.html" method="get" target="_blank">
          <button type="submit">Works</button>
          <form action="/photo-gallery" method="get" target="_blank">
            <button type="submit">Photo Gallery</button>
    </nav>
    <h2>Hello!</h2>
    <section id="home">
      <div>
        <img src="./images/clara.jpeg" alt="pasta" />
        <figcaption>Clara Vasconcelos</figcaption>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
        Maxime, dolore. Animi harum atque blanditiis, est officiis fuga tempore
        molestiae eos iusto ab magni a officia expedita sit aliquam totam
        beatae.<br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br />
        Porro aliquam vero culpa, nemo reprehenderit inventore fugit quibusdam
        atque!<br />
        Magni assumenda adipisci eligendi voluptas id omnis provident soluta
        quod modi suscipit.
      </p>
    </section>
  </body>
</html>
