<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/css/photo-gallery.css" />
  </head>
  <body>
    <h2>Photo Gallery</h2>
    <section id="gallery">
      <div>
        <img src="./images/pasta.jpg" alt="pasta" />
        <figcaption>Lemon Pasta</figcaption>
      </div>
      <div>
        <img src="./images/raffaello.jpg" alt="raffaello" />
        <figcaption>Vegan Raffaello</figcaption>
      </div>

      <div>
        <img src="./images/brownie.jpg" alt="brownie" />
        <figcaption>Vegan Beans Brownie</figcaption>
      </div>

      <div>
        <img src="./images/cheesecake.jpg" alt="cheesecake" />
        <figcaption>Vegan Chocolate Cheesecake</figcaption>
      </div>

      <div>
        <img src="./images/matchabars.jpg" alt="matcha" />
        <figcaption>Vegan Matcha Bars</figcaption>
      </div>

      <div>
        <img src="./images/tamaratrufle.jpg" alt="tamara trufles" />
        <figcaption>Vegan Tamara Trufles</figcaption>
      </div>

      <div>
        <img src="./images/yogurtbanana.jpg" alt="yogurt banana" />
        <figcaption>Yogurt Bowl</figcaption>
      </div>

      <div>
        <img src="./images/fudge.jpg" alt="fudge" />
        <figcaption>Salted Caramel Fudge</figcaption>
      </div>
      <div>
        <img src="./images/blueberrymuffin.jpg" alt="blueberrymuffin" />
        <figcaption>Vegan Blueberry Muffins</figcaption>
      </div>
    </section>
  </body>
</html>
