html {
  width: 1366px;
  height: 768px;
  background-color: cornsilk;
  color: darkred;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: row-reverse;
}

button {
  background-color: darkred;
  color: cornsilk;
  height: 40px;
}

img {
  height: 300px;
}

section {
  display: flex;
  flex-direction: row;
}

p {
  padding: 20px;
}

h2 {
  text-align: center;
}
